.commonStyle{
    border-radius: 16px;
    max-width: 300px;
    color: aliceblue;
    padding: 20px 0px 10px 20px ;
    margin: 20px;
}
.userName{
    font-size: 22px;
    font-weight:bold ;
}

.userId{
    font-size: 14px;
    font-weight: bold;

}
.userGender{
    font-size: 14px;
    font-weight: bold;

}
.userState{
    font-size: 14px;
    font-weight: bold;
}
.female{
    background-color: lightpink;
}

.male{
    background-color: lightskyblue;
    
}
.user{
    background-color: lightslategray;


}
.btn{
    background-color: whitesmoke;
    color:gray;
}
